body {
  background-color: #6dd5ed;
}

h1,
p {
  font-family: Lato;
}

.light {
  background-color: red;
}

.dark {
  background-color: pink;
}

.tabbed-view {
  display: flex;
  width: 280px;
  height: 200px;
  padding: 5px;
  top: 150px;
  left: 500px;
  position: relative;
  border: 1px solid black;
  background-color: aliceblue;
}

.tabs li {
  width: 100px;
  cursor: pointer;
  list-style: none;
  margin-bottom: 4px;
  border-radius: 5px;
  height: fit-content;
  border: 1px solid black;
}

.tabs ul {
  padding: 0px;
}

.view {
  left: 4px;
  top: 16px;
  height: 180px;
  width: 170px;
  border-radius: 5px;
  position: relative;
  border: 1px solid black;
  background-color: floralwhite;
}

.view-type {
  top: 35%;
  left: 5%;
  position: relative;
}

input {
  width: 85%;
}

#text {
  width: 150px;
  overflow: hidden;
  font-size: x-small;
  white-space: nowrap;
  font-family: monospace;
  border-right: 3px solid;
  animation: text 2s steps(28), effect 0.5s steps(1) infinite alternate;
}

#effect {
  text-align: center;
}

@keyframes text {
  0% {
    width: 0;
  }
}

@keyframes effect {
  50% {
    border-color: #0000;
  }
}

.parent-div {
  top: 20%;
  width: fit-content;
  padding: 5px;
  border-radius: 3px;
  height: fit-content;
  position: absolute;
  background-color: aqua;
  border: 1px solid black;
  box-shadow: 8px 8px 20px black; /* horizontalVal verticalVal blurRadius color*/
}

.parent-div li {
  cursor: pointer;
  list-style: none;
  border-radius: 2px;
  font-family: fantasy;
  border: 1px solid black;
  background-color: #e6dada;
  transition: background-color 0.4s;
}

.parent-div li:hover {
  background-color: #faaca8;
}

ul {
  padding: 0px;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.my-button {
  all: unset;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  padding: 5px 5px;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
}

.my-button:focus {
  border-color: red;
}

.type-effect {
  border: 2px solid red;
  height: 50px;
  width: 1000px;
  font-size: large;
}
